<h1 style="text-align: center">Books</h1>
<table>
    <thead>
        <tr>
            <th>Books</th>
            <th>Authors</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @books.each do |book|%>
            <tr>
                <td><%= book.book_title%></td>
                <td>
                    <% if book.authors.any?%>
                        <table>
                            <tbody style="cell-spacing: 5px; cell-padding: 10px">
                                <% book.authors.each do |author|%>
                                    <tr>
                                        <td><%= author.first_name+" "+author.last_name%></td>
                                    </tr>
                                <%end%>
                            </tbody>
                        </table>
                    <%end%>
                </td>
                <td>
                    <%= link_to "Edit", "/book/edit/#{book.id}", style: "text-decoration: none;"%>
                    <%= button_to "Delete", "/book/delete/#{book.id}", method: :delete, data: { turbo_confirm: "Are you sure?"}, form: { style: "display:inline;" } %>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>